body {
    background: white;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(41, 43, 128);
    font-size: 16px;
}

header {
    border-bottom: 2px solid darkblue;
    height: 2.5rem;
}

footer {
    border-top: 2px solid darkblue;
    margin-top: 10%;
 
}

h1 {
    font-size: 2em;
    text-align: center;
}

#existingTrips {
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 2px solid gray;
}

#currentTrip {
    margin-left: 18%;
    display: flex;
    flex-direction: row;
}

#currentTrip #image {
    width: 200px;
    height: auto;

}
#currentTrip #details {
    width: 58%;
    margin-left:2%;

}

#saveTrip {
    clear: both;
}
.summary h3 {
    color:rgb(41, 43, 128);
    font-size: 16px;
}

.summary h4, p {
    padding-left: 1em;
    font-size: 14px;
}

h2 {
    margin-left: 18%;
}
#tripForm {
    align-items: left;
    margin-left: 18%;
    margin-bottom: 5%;
}

.entry{
    margin-top: 1em;
    display: flex;
}

.card {
    box-sizing: border-box;
    margin: 1%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0.5rem;
}

article {
    max-width: 80%;
}

.card img {
    display: block;
    margin: 0 auto;  
    max-height: 100%;
    max-width: 100%;
    border-radius: 0.5rem;
}

.card .summary {
    padding: 1em;
}

label{
    display:block;
    font-size: 1em;
}

input{
    display:block;
    height: 30px;
    width: 160px;
    font-size: 1em;
    border: 1px solid;
    margin-right: 2em;
}

input:invalid {
    border: 2px solid rgb(15, 15, 95);
}

button{
    width: 200px;
    height: 30px;
    background: #5ab6f3;
    color: rgb(15, 15, 95);
    font-size: 0.8em;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

button, input {
    border-radius: 0.2em;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: rgb(100, 99, 99); 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: rgb(100, 99, 99);  
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: rgb(100, 99, 99); 
    font-family: 'Oswald', sans-serif;

} 